<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>

<main class="container">
        <router-outlet></router-outlet>
        <!-- Dynamic content here! -->
        
</main>

<app-footer></app-footer>







