<div class="form-content">
    <form [formGroup]="signupForm" (ngSubmit)="sendForm(signupForm.value)"> 
    <div class="form-header">
        <h2 class="form-title">C<span>riterios de busqueda</span></h2>
    </div>
    <div class="checkboxs"> 
        <label class="form-label"> <input class="check accident" type="checkbox" formControlName="hill">    Sin pendientes</label>
      
        <label class="form-label"><input class="check stole" type="checkbox" formControlName="traffic">     Poco tráfico</label>
      
        <label class="form-label"><input class="check shading" type="checkbox" formControlName="shading" >     Con sombra</label> 
    </div> 

    <button class="btn-submit" type="submit">Buscar ruta</button>
  
    <label class="form-label label-file" for="file">  <input id="file" type="file" (change)="onSelectFile($event)" >Cargar ruta</label>
     
</form> 
</div>
<div id="map" class="map" ></div>


