.form-content{
    background:#252932;
    width: 95%;
    color: #ffff;
    border-radius: 5px;
    padding: 20px;
}

form{
    margin-left: 55px;
}

.form-content form .form-header .form-title{
    font-size: 20px;
    color: #1dbad6;
    margin-left: 80px;
    padding-bottom: 0%;
}

.form-content form .form-header .form-title span{
    color: #ffff;
}

.checkboxs{
    display: inline-block;
    border: 1px solid #047a8f;
}

.form-label{
    display: inline-block;
    padding: 5px;
    
}

.check{
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background: linear-gradient(0deg,#333,#000);
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba0(0,0,0,.2);
    overflow: hidden; 
    margin-left: 8px;
}

.accident:checked{
    background: linear-gradient(0deg,#6dd1ff,#20b7ff)
}

.stole:checked{
    background: linear-gradient(0deg,#6dd1ff,#20b7ff)
}

.shading:checked{
    background: linear-gradient(0deg,#6dd1ff,#20b7ff)
}

.check:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0%;
    left: 0%;
    background: linear-gradient(0deg, #000, #6b6b6b);
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba0(0,0,0,.2);
    transition: 0.5s;
}

.check:checked:before{
   left: 20px;
}

.btn-submit{
    position: relative;
    background:  #1dbad6;
    border: none;
    font-size: 15px;
    border-radius: 2px;
    color: #ffff;
    width: 100px;
    height: 30px;
    margin-left: 25px;
}

.btn-submit:hover{
    background: #047a8f
}

input[type="file"]{
    display: none;
    
}

.form-content .label-file{
    color: #ffff;
    background-color: #1dbad6;
    font-size: 17px;
    justify-content: center;
    border-radius: 2px;
    margin-left: 25px;
}


.form-content .label-file:hover{
    background: #047a8f
}



#map {
    padding-top: 20px;
    height: 600px;    
    width: 100%;      
  } 