<div class="form-content">
    <form [formGroup]="signupForm" (ngSubmit)="send(signupForm.value)"> 

    <div class="checkboxs"> 
        <label class="form-label"> <input class="check accident" type="checkbox" formControlName="accident">    Accidentes</label>
      
        <label class="form-label"><input class="check stole" type="checkbox" formControlName="stole">     Robos</label>
      
        <label class="form-label"><input class="check" type="checkbox" [attr.disabled]="true" formControlName="heatMap" >     Mapa de calor</label>
    </div>  

    <input
    placeholder="Fecha"
    class="date"
    bsDaterangepicker
    formControlName="date"
    [bsConfig]="{containerClass:'theme-default', dateInputFormat: 'DD/MM/YYYY'}">

    <button class="btn-submit" type="submit">Visualizar</button>
</form> 
</div>
<div id="map" class="map" ></div>
