.form-content{
    height: 100%;
    width: 100%;
}

.form-content form .form-header .form-title{
    font-weight: normal;
    font-family: sans-serif;
    color: #1dbad6;
    text-align: center;
    padding: 12px 0px;
}

.form-content form .form-header .form-title span{
    color: #ffff;
}

.form-content form{
    background: rgba(0,0, 0, .6);
    width: 100%;
    max-width: 650px;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
    margin-top: 20px;
    padding-bottom:20px;
    border-radius:3px;   
}

.form-content form .form-label{
    display: block;
    color: #1dbad6;
    font-size: 16px;
    font-family: Roboto;
    position: relative;
}

.form-content form .form-input, .form-textarea{
    width: 96%;
    max-width: 650px;
    background: rgba(0,0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #1dbad6;
    
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffff;
    font-family: Roboto; 
}

.form-content form .form-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

.error{
    color: rgb(199, 14, 14);
    font-size: 18px;
}


.form-content form .btn-submit{
    width: 100%;
    font-family: Roboto;
    outline: none;
    background: #1dbad6;
    font-size: 16px;
    border: none;
    color: #ffff;
    padding: 16px 0px;
    cursor: pointer;
    transition: all .5s ease;
}

.form-content form .btn-submit:hover{
    background: #047a8f
}

.checkbox-main{
    position:relative;   
}

.form-content form .checkbox-main .checkbox-label{
    top: 0px;
    color: #1dbad6;
    padding: 16px;
    padding-top: 0px;
    padding-left: 0px;
    display: block;
}



input[type="checkbox"]{
    position: relative;
    width: 75px;
    height: 25px;
    -webkit-appearance:none;
    background: linear-gradient(0deg,#333,#000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
    margin-left: 5px;
    margin-bottom: 20px;
}

input:checked[type="checkbox"]{
    background: linear-gradient(0deg,#6dd1ff,#20b7ff);
    box-shadow: 0 0 2px #6dd1ff,0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5), inset 0 0 15px rgba(0,0,0,.2);
}

input[type="checkbox"]:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 25px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98,.96);
    transition: .5s
}

input:checked[type="checkbox"]:before{
    left: 40px;
}

input[type="checkbox"]:after{
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 28px;
    width: 4px;
    height: 4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: .5s
}

input:checked[type="checkbox"]:after{
    background: #63cdff;
    left: 68px;
    box-shadow: 0 0 5px #13b3ff, 0 0 5px #13b3ff;
}

input[type="file"]{
    display: none;
    
}

.form-content form .checkbox-main .label-file{
    color: #ffff;
    height: 30px;
    width: 100px;
    background-color: #1dbad6;
    position: absolute;
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 170px;
    
}

.form-content form .checkbox-main .label-file:hover{
    background: #047a8f
}

.form-content form .checkbox-main input{
    padding: 12px;
}

.form-content form img{
    width: 350px;
    float: right;
    padding-bottom: 20px;
    padding-right: 80px;
}

.form-content form .location {
    padding-bottom: 40px;  
}

.form-content form .location .form-label{
    background-color: rgba(0,0, 0, .7);
    width: 260px;
    float: left;
    text-align: center;
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    color: #ffff;
    font-family: Roboto;
    border-bottom: 2px solid #1dbad6;
}

.form-content form .location .lat{
    margin-left: 82px;
}

#map { 
    height: 300px;    
    width: 100%;
    max-width: 650px;
    padding-bottom: 20px;        
  } 

