<div class="form-content">
    <form [formGroup]="signupForm" (ngSubmit)="send(signupForm.value)"
     method="post" enctype="multipart/form-data">

        <div class="form-header">
            <h2 class="form-title">R<span>eporte</span></h2>
        </div>

        <label class="form-label">Nombre:</label>
        <input class="form-input" formControlName="name" type="text" placeholder="Nombre"/>
        <br/>

        <label class="form-label">Email:</label>
        <input class="form-input" formControlName="email" type="text" placeholder="Email"/>
        <div class="error" *ngIf="signupForm.get('email').hasError('email') && signupForm.get('email').touched">Email incorrecto</div>
        <br/>

        <label class="form-label">Descripcion:</label>
        <textarea class="form-textarea" formControlName="description" type="text" placeholder="Descripción"></textarea>
        <br/>
        
        <label class="form-label">Fecha:</label>
        <input
        placeholder="Fecha"
        class="form-input"
        #datepickerMDY="bsDatepicker"
        bsDatepicker
        formControlName="date"
        [bsConfig]="{containerClass:'theme-default', dateInputFormat: 'DD/MM/YYYY'}">
        <br/>

        <label class="form-label">Ubicación:</label>
        <div id="map" class="map" ></div>

        <div class="location">
            <div id="mouse-position"></div>
            <label id="longitude" class="form-label">Longitud</label>
            <label id="latitude" class="form-label lat" >Latitud</label>
        </div>
        <br/>

        <div class="checkbox-main">
            <img [src]="url" height="200"> 

            <label class="checkbox-label" >Reporte de accidente:</label>
            <input type="checkbox" formControlName="accident">
            <br/>
            <label class="checkbox-label" >Reporte de robo:</label>
            <input type="checkbox" formControlName="stole"> 
            <br/>
            <input id="file" type="file" (change)="onSelectFile($event)" formControlName="image">
            <label class="label-file" for="file">Cargar foto</label>
            <br/>
        </div>
        <button class="btn-submit" [disabled]="signupForm.invalid" type="submit">Enviar</button>
    </form>
</div>
