footer{
    background:#252932;
    width: 60%; 
    margin: auto;
    bottom: 0%;
    margin-top: 20px;
}

footer p {
    font-size: 16px;
    color: #ffff;
    text-align: center;
    padding: 12px;
}

@media screen and (max-width:720px){
    footer{
        width: 100%;
        margin: 0%;
        position: relative;
    }
}




